

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
}

:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-violet: hsl(270, 3%, 87%);
  --clr-dark-violet: hsl(279, 6%, 55%);
  --clr-very-dark-violet: hsl(278, 68%, 11%);
  --clr-error:hsl(0, 100%, 66%);

  --ff-main: "Space Grotesk";
  --max-desktop: 1440px;
  --max-mobile: 375px;
}

/* General styles */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.main-container {
  width: 100%;
  height: 100vh;
  /* background-color: red; */
}

.content-container {
  display: flex;
  justify-content: center;
  width: var(--max-desktop);
  height: 100%;
}

.cards-container {
  width: 480px;
  height: 100%;
  position: relative;
  background-image: url("../img/bg-main-desktop.png");
  background-size: cover;
}

.card-front-site,
.card-back-site {
  width: 445px;
  height: 245px;
  position: absolute;
  border-radius: 10px;
}

.card-front-site {
  top: 186px;
  left: 163px;
  background-image: url("../img/bg-card-front.png");
  color: var(--clr-white);
  position: relative;
  z-index: 2;
}

.circle-1 {

  position: absolute;
  top: 27px;
  left: 32px;
  width:86px;
  height: 100%;
  background-image: url("../img/card-logo.svg");
  background-repeat: no-repeat;
}



.card-front-site p:nth-of-type(1) {
  position: absolute;
  bottom: 73px;
  left: 31px;
  font-size: 34px;
  letter-spacing: 2px;
}

.card-front-site p:nth-of-type(2) {
  position: absolute;
  left: 31px;
  bottom: 20px;
  text-transform: uppercase;
}

.card-front-site p:nth-of-type(3) {
  position: absolute;
  right: 31px;

  bottom: 20px;
  letter-spacing: 2px;
}

.card-back-site {
  top: 469px;
  left: 256px;
  background-image: url("../img/bg-card-back.png");
  z-index: 2;
}

.card-back-site>div {
  position: relative;

  width: 100%;
  height: 100%;
}

.card-back-site p {
  position: absolute;
  top: 112px;
  right: 58px;
  color: var(--clr-white);
  letter-spacing: 2px;
}

.form-container {
  min-width: 960px;
  /* flex: 1; */
  background-color: var(--clr-white);
  position: relative;
}

.form {
  width: 380px;
  height: 350px;
  margin: 273px 0 0 348px;
  font-family: var(--ff-main);
  /* display: none; */
}

form label {
  display: block;
}

 input {
  width: 100%;
  height: 44px;
  border-radius: 10px;
  padding-left: 15px;
  border:1px solid rgba(0, 0, 0, 0.1);
}

input:active{
  border:1px solid hsl(278, 94%, 30%);
}

label {
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 9px;
  line-height:10px;
}

.input-name {
  /* margin-bottom: 25px; */
}

small{
  
  font-size:12px;
  color:var(--clr-error);
  margin-top: 5px;
  display: block;
}


/* add class active to errors with the styles need , so the form with stretch */
.name-error{
 
  height: 21px;
  /* margin: 14px 0; */
}


.number-error{
  height: 21px;
}

.month-error{
  height: 33px;
  display: inline-block;
  width: 85px;
 

}
.year-error{
  height: 33px;
  display: inline-block;
  width: 85px;
}


.cvc-error{
  
 
}

.number-error-active{
  margin-bottom: 25px;
}

.month-error-active{
  margin-bottom: 25px;
}
.year-error-active{
  margin-bottom: 25px;
}

.dates-container{
  display: flex;
}


.expiring-date-input-container{
  width: 180px;

}


.dates-container-error{
  display:flex;
}

.input-month ,.input-year{
  width: 79px;
  height: 45px;
}

.cvc-container{
  width: 190px;
  margin-left: auto;
}


.btn-cta{
 
  width: 100%;
  height: 53px;
  border-radius:10px;
  background-color:var( --clr-very-dark-violet);
  color:#fff;
  border:none;
  font-size:15px;
  letter-spacing: 0.5px;
  font-weight: 500;
  
}

/*   modal success */

.modal-success{
  display: none;
  width: 383px;
  height: 293px;
  text-align: center;
  /* border: 1px solid red; */
  margin:304px 0 0 350px;
  font-family: var(--ff-main);
}
.icon{
  background-image: url("../img/icon-complete.svg");
    display: inline-block;
    width: 80px;
    height: 82px;
   
}


.modal-success h2{
  font-size:31px;
  text-transform:uppercase;
  letter-spacing:2px;
  line-height: 25px;
  margin: 37px 0 27px 0;
}
.modal-success p{
  font-size:18px;
  color:var( --clr-dark-violet);
  margin-bottom: 50px;
  line-height: 15px;
 
}

.btn-success{
  width: 100%;
  border-radius: 10px;
  border:none;
  cursor: pointer;
  height: 54px;
  background-color: var(--clr-very-dark-violet);
  color:#fff;
  font-size: 18px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}



@media only screen and (max-width: 23.4375em) {
  .content-container {
    display: block;
    /* flex-direction: column;
    align-items: center; */
    width: 100%;
    height: 100%;
  }

  
  .cards-container{
   width: 375px;

    height: 240px;
    position: relative;
 
  }

  .form{
    margin:0;
  }

  .card-front-site{
    width: 287px;
    height: 160px;
    z-index: 3;
    left: 17px;
    top: 120px;
  
  }

  .card-back-site{
    width: 287px;
    height: 160px;
    top: 30px;
    left:72px;
    background-size: cover;
  }

  .circle-1 {
    top: 18px;
    left: 19px;
    width:100%;
  }

  .card-front-site p:nth-of-type(1) {
    position: absolute;
    bottom: 53px;
    left: 19px;
    font-size: 22px;
    
  }
  .card-front-site p:nth-of-type(2) {
   font-size:12px;
   left: 19px;
    bottom: 20px;

  }

  .card-front-site p:nth-of-type(3) {
  
    right: 20px;
    font-size:12px;
    bottom: 20px;
    letter-spacing: 0;
  }

  .card-back-site p{
    letter-spacing: 0;
    font-size: 12px;
    top: 70px;
    right: 35px;
  }

  .form{
   width: 328px;
    height: 226px;
    margin: 93px  24px 0 24px;
    font-family: var(--ff-main);
  }

  label{
    font-size:12px;
    letter-spacing: 2px;
    line-height:10px;
  }


  .input-month ,.input-year {
    width: 71px;
    height: 45px;
  }


  small{
  
    font-size:10px;
   
    margin-top: 2px;
  }

  .month-error{
 
    width: 75px;
   
  
  }
  .year-error{
 
    width: 75px;
  }

  .cvc-error{
    margin-top:2px;
  }

  .modal-success{
    display: none;
    width: 329px;
    height: 291px;
    text-align: center;
    margin: 93px 23px 0 23px;
   
  }

 
}